In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

In [13]:
df = pd.read_csv('E:/HDD Documents/HDD Documents/School/WGU/d208_predictive_modeling/medical/medical_clean.csv')

In [14]:
df['ReAdmis'] = df['ReAdmis'].replace(['Yes', 'No'] , [1, 2])

In [15]:
df = df[['ReAdmis', 'Age', 'VitD_levels', 'Initial_days', 'TotalCharge']]

In [16]:
df.head()

   ReAdmis  Age  VitD_levels  Initial_days  TotalCharge
0        2   53    19.141466     10.585770  3726.702860
1        2   51    18.940352     15.129562  4193.190458
2        2   53    18.057507      4.772177  2434.234222
3        2   78    16.576858      1.714879  2127.830423
4        2   22    17.439069      1.254807  2113.073274

In [17]:
df.describe()

            ReAdmis           Age   VitD_levels  Initial_days   TotalCharge
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       1.633100     53.511700     17.964262     34.455299   5312.172769
std        0.481983     20.638538      2.017231     26.309341   2180.393838
min        1.000000     18.000000      9.806483      1.001981   1938.312067
25%        1.000000     36.000000     16.626439      7.896215   3179.374015
50%        2.000000     53.000000     17.951122     35.836244   5213.952000
75%        2.000000     71.000000     19.347963     61.161020   7459.699750
max        2.000000     89.000000     26.394449     71.981490   9180.728000

In [18]:
X = df.drop('ReAdmis', axis = 1 ).values
y = df['ReAdmis'].values

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 22)

In [20]:
X_train.tofile('E:/HDD Documents/HDD Documents/School/WGU/d209_data_mining_i/medical_clean209_task2_xtrain.csv')
X_test.tofile('E:/HDD Documents/HDD Documents/School/WGU/d209_data_mining_i/medical_clean209_task2_xtest.csv')
y_train.tofile('E:/HDD Documents/HDD Documents/School/WGU/d209_data_mining_i/medical_clean209_task2_ytrain.csv')
y_test.tofile('E:/HDD Documents/HDD Documents/School/WGU/d209_data_mining_i/medical_clean209_task2_ytest.csv')

In [21]:
rr = Ridge(alpha = 0.01)
rr.fit(X_train, y_train)
pred_train_rr = rr.predict(X_train)

In [22]:
pred_test_rr = rr.predict(X_test)
print(np.sqrt(mean_squared_error(y_test, pred_test_rr)))
print(r2_score(y_test, pred_test_rr))

0.24881896005538248
0.7312896055423523